<div class="row">
  <div class="col s2">
    <div id="search-field" class="input-field">
      <input id="search" type="search" name="query" ng-model="$ctrl.query">
      <label class="label-icon loupe" for="search"><i class="material-icons">search</i></label>
    </div>
  </div>
</div>

<div class="home-img">
  <div ng-repeat="user in $ctrl.users | filter : $ctrl.query">
    <div class="row userlist">
      <div class="col s1">
        <img class="responsive-img avatar1" ng-src="{{user.avatar}}" />
      </div>
      <div class="col s6 li-user">
        {{user.firstname +" "+ user.lastname}}, <b>{{user.promo.name}}</b>
      </div>
    </div>
  </div>

  <a ui-sref="home" class="back-home">accueil</a>
</div>