<div class="home-img">  

<div class="row">

    <div class="col s12">
            <h3>Bienvenue sur Wild Exchange !</h3>
             <h5 class="intro"><strong>Wild Exchange</strong> est un site de questions/réponses pour les étudiants, anciens élèves, professeurs de la <strong>Wild Code School</strong>. Et pour toute la commununauté Wild ! Il est construit et pensé vous dans le cadre du réseau de <strong>Wild Code School</strong>.</h5>
      </div>
</div>

<div class="row">
      <div class="col s12 m6 l6 l6">
        <p class="rules">Nous travaillons ensemble, à la construction d'une bibliothèque détaillée de réponses concernant la programmation.</p>
        <p class="rules">Nous sommes un peu différents des autres sites et voici pourquoi en 3 principes ci-contre :</p>
      </div>
      <div class="col s12 m6 l6 l6">
        <div class="card-panel teal">
          <span class="white-text">
              <ol class="ordered">
                <li>Posez vos questions</li>
                <li>Trouvez des réponses pertinentes</li>
                <li>Pas de distractions inutiles</li>
            </ol>
          </span>
        </div>
      </div>
</div>

<div class="row">

<div class="col s12">
<p class="rules">Le but de ce site est de trouver des réponses. Ce n’est pas un forum de discussion. Pas de bla-bla… Cependant, vous pourrez échanger grâce à vos pseudos Mattermost (visibles sur votre page profil).</p>
</div>
<div class="col s12">
<p class="rules">Vous pouvez voter pour les réponses pertinentes et les retrouver en tête du classement grâce au bouton « Les plus pertinentes ». L’utilisateur qui a posé une question peut « valider » des réponses qui l’auront aidé à résoudre ses problèmes.</p>
</div>
</div>


<div class="row">


<div class="col s12 m6 l6 l6">
       <h5 class="intro">Comment obtenir des réponses à des questions pratiques et détaillées :</h5>
</div>
<div class="col s12 m6 l6 l6">
        <div class="card-panel blue-grey darken-1">
          <span class="white-text">
                <ol class="rules">
                    <li>Dans vos questions, concentrez-vous sur un problème réel que vous rencontrez. Incluez des détails sur ce que vous avez exactement essayé de faire.</li>
                    <li>Evitez les questions qui sont principalement basées sur des opinions, ou qui sont susceptibles de générer des discussions plutôt que des réponses.</li>
            </ol>
          </span>
        </div>
</div>

    

</div>

<p class="rules">Le système de TAGS vous permet de retrouver plus facilement les questions qui vous intéressent:
Toutes les questions sont taguées par sujets. Chacune d’entre elle peut avoir jusqu’à 5 tags, du moment qu’elle est liée à plusieurs sujets.
Cliquez sur n’importe quel tag pour voir une liste de questions s’y rapportant, ou aller sur la TagList pour parcourir les sujets qui vous intéressent.</p>

<h5 class="intro">Vous gagnez en réputation quand les utilisateurs lisent vos posts :</h5>

<p class="rules">Le score de votre « réputation » augmente quand d’autres utilisateurs likent vos questions et vos réponses.
En augmentant votre réputation, vous débloquerez des privilèges (en cours de développement) tels que la possibilité de voter, commenter, et même modifier les posts des autres utilisateurs.</p>

<p class="rules">Au plus haut niveau, vous aurez accès à des outils de modération spéciaux. Vous pourrez travailler avec nos modérateurs communautaires pour que le site reste focus et utile.</p>

<!-- Améliorer les messages en éditant ou en commentant:
Notre but est d’avoir, pour chaque question, au moins une meilleure réponse. Donc si vous voyez des questions ou des réponses qui peuvent être améliorées, vous pouvez les modifier. -->

<p class="rules">Utilisez les commentaires pour demander plus d’informations ou encore clarifier une question ou une réponse.
Gardez bien en tête que nous sommes tous ici pour apprendre, alors soyez friendly et aidez les autres ! </p> 

<!--  Débloquez des badges pour des réalisations exceptionnelles (special achievements ?)
Les badges sont des special achievements que vous gagnez en participant à l’activité de notre site. Il y a 3 niveaux: bronze, silver et gold.
En réalité, vous pouvez gagner votre premier badge simplement en lisant cette page:
Accepter et commencer!-->

<p class="rules">L'essentiel désormais, c'est de vous amuser ! Faîtes votre cette plateforme et n'hésitez pas à nous faire des retours / issues et pull request sur Github ! <strong>Be here ! Be wild !</strong> </p>

<div class="text-align center">
<a ui-sref="home" class="waves-effect waves-light btn">Continuer</a>
<br><br><br><br><br><br>
</div>
</div>