#nav {
    background: rgba(221, 96, 0, 0.6); 
    height:70px;
    z-index: 0;
}


.nav-material {
    margin-top: -60px;
    height: 90px;
}


#title_nav {
    font-size:1.4em;
    font-weight: bold;
    color: white;
    margin-top: -40px;
    margin-left: 220px;
    width: 150px;
}

.logo {
    display: inline;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 10px;
}

#search {
    width: 170px;
    margin-top: -98px;
    margin-left: 170px;
    background-color: white;
    height: 40px;
    border-radius: 5px;
}

.loupe {
    margin-left: 165px;
    margin-top: -1px;
}

#search-field {
    margin-top: 13px;
    margin-bottom: 50px;
}

nav i.material-icons {
    display: inline;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    }

nav .menu-right {
    margin-top: -8px;
}

.waves-effect {
    color:white;
}

#main {
    margin-top : 200px;
}

nav ul a .logoutbutton {
    margin-top: -16px;
}

nav ul a .loginlogout {
    margin-top: -16px;
    margin-left: 10px;
}

/*/////////////////// PAGE imgNavbar ///////////////////*/

.background-nav{
    height: 250px;
    background-image: url("http://i.imgur.com/RCT5g0f.jpg");
    background-position-y: 25%;
    background-position-x: 40%;
    background-size: 80%;
}

                        /*/////////////////// PAGE HOME ///////////////////*/
.home-img{
    margin-top: 270px;
}

.tabs .tab a {
    color: grey;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.img.responsive-img.avatar1{
    float:left;
}

.content{
    border-bottom: 1px solid black;
    height: 150px;    
    font-size: 18px;
    padding-top: 30px;
}
.title:hover, .title:active{
    font-size: 105%;
}
.user{
    color: gray;
    margin-top: 10px;
    margin-left: 50px;
}
.user:hover, .user:active{
    font-size: 110%;
}
.title{
    color:#1fa597 ;
    font-weight: bold;
}
#total{
    margin-left: 5px;
}
.title:hover{
    color: #58c4b8;
}

#likes{
    text-align: center;
    margin: -40px 10px auto auto ;
    float: right;
}
.affichage{
    font-size: 17px;
    margin-top:10px;
    margin-bottom: 10px;
}
#likes:hover, #likes:active{
    font-size: 105%;
}
.date{
    font-size: 14px;
}

.profile-home{
    color: orange;
}

.tab{
    color: gray !important;
}

#tags {
    float: right;
    margin-top: 50px;
    margin-right: -50px;
}


                /*//////////////////// Page question-answer ////////////////////*/

.answer-validated{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;   
    border-right: 1px solid #1fa597;
    border-left: 1px solid #1fa597;
    border-top: 1px solid #1fa597;
    border-radius: 30px;
}

.image-user{
    width: 40px !important;
    border-radius: 100px;
    margin-top: 10px;
    float:left;
}

.like{
    float: right;
    font-size: 20px;
}

.question-user, .question-date, .answer-date{
    font-size: 15px;
    float: left;
}

.your-answer{
    font-size: 20px;
}

.btn-like, .btn-validate{
    background-color: orange;
    float: right;
    border-radius: 30px;
}

.question-user{
    color: orange;
}

.answer-user{
    font-size: 20px;
    color: orange;
}

.back-home{
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.bottom-answer{
    border-bottom: 1px solid black;
    margin-top: 50px;
}

.post-answer{
    margin-bottom: 50px;
    margin-top: 70px;
}

.best-answer{
   border-radius: 30px;
}

.answer-novalidate, .answer-validated{
    margin-top: 50px;
    margin-bottom: 60px;
}

.img-validee{
    width: 80px;
    float: right;
    margin-top: -20px;
}

                        /*//////////////////// Page registration ////////////////////*/

.register, .already-reg{
    text-align: center;
    color: orange;
    margin-bottom: 80px;
}

.reg-validate{
    display: block;
    margin: auto;
}


                        /*/////////////////// FORMULAIRE QUESTION ///////////////////*/

.text-angular{
    color: gray;
}

.formQ-title{
   text-align: center;
   color: orange;
   margin-top: 45px;
}

                        /*//////////////////// Page profile.html ////////////////////*/
.container1{
    margin: 60px;
}

.wild-profile, .h5-tags, .fa-genderless{
    color: #1fa597;
}

.avatar{
    border: 2px solid #1fa597;
    border-radius: 100%;
    width: 200px;
}

.left-profile{
    border-right: 1px solid black;
    padding-right: 70px !important;
}

.right-profile{
    padding-top: 50px !important;
}

.twitter, .github, .linkedin{
    margin: 30px;
}

.user-name, b{
    color: orange
}

.user-bio{
    border: 1px solid #1fa597;
    border-radius: 30px;
    padding: 30px;
}

.centerdiv {
margin-left: 35% !important;
margin-right: 35% !important;
width: 250px !important;
text-align: left !important;
}

.wild-profile{
    font-size: 35px;
}

.mattermost-pseudo, .cursus{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 30px;
}

.modifier-profil{
    border-radius: 30px;
}

.btn-modifier{
    margin-left: 35% !important;
    margin-right: 35% !important;

}

/*//////////////////// userList ////////////////////*/

.annuaire{
    padding-left: 80px;
    padding-top: 60px;
}

.userlist-image{
    margin-bottom: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.avatar1{
    border-radius: 100%;
}

.userlist{
    margin: 60px;
    border-bottom: 1px solid #1fa597;
    padding-bottom: 20px;
}

.li-user{
    margin-top: 20px;
    margin-bottom: 20px;
}


/*//////////////////// myProfile ////////////////////*/
.labal-myProfile{
    color: #1fa597;
}

.register:hover{
    cursor: pointer;
    font-size: 105%;
    color: #1fa597;
}


/*//////// RULES /////////*/

.rules {
    font-size:1.2em;
    line-height: 1.8em;
}

.intro {
    line-height: 1.8em;
}

.ordered {
    line-height: 2em;
    font-size: 1.4em;
}

/*////////////////////footer ////////////////////*/
.page-footer{
    background: #35383a;
    z-index: 1;
}