
<div id="search-field" class="input-field">
    <input id="search" type="search" name="query" ng-model="$ctrl.query">
    <label class="label-icon loupe" for="search"><i class="material-icons">search</i></label>
</div>

<div class="home-img">
    <div class="row">
        <h3 class="question-title col s8 offset-s2 center-align">{{$ctrl.question.title}}</h3>
    </div>
    <div class="row">
        <p class="question-content col s12" ng-bind-html="$ctrl.question.content"></p>
    </div>
    <div class="row">
        <div class="question-date">


        <div class="image-user">
            <img class="responsive-img avatar1" ng-if="$ctrl.isAuthenticated == null" ui-sref="profile({userId:$ctrl.question.user.id})"  ng-src="{{$ctrl.question.user.avatar}}" />
        </div>
        <a ui-sref="profile({userId:$ctrl.question.user.id})" class="question-user">{{$ctrl.question.user.firstname + " " + $ctrl.question.user.lastname}}</a>{{$ctrl.question.date}}</div>
    <div class="like">{{$ctrl.question.likes}}
        <a class="btn-floating btn-large waves-effect waves-light orange" ng-click="$ctrl.likeQuestion()" ng-disabled="$ctrl.isAuthenticated != true"><i class="material-icons">favorite</i></a>
    </div>

    <div class="row" ng-if="$ctrl.isAuthenticated != null">
        <form class="post-answer">
            <label class="your-answer">Ta réponse: </label>
            <input class="input-answer" ng-model="$ctrl.answer.content" name="content" type="text" required/>
            <a ng-click="$ctrl.submit()" class="waves-effect waves-light btn btn-validate">Valider</a>
        </form>
    </div>
    <br><br>

    <div ng-repeat="answer in $ctrl.question.answers | orderBy: 'date' : true">

        <img ng-if="answer.status == true" class="img-validee" src="../../../../assets/img/validee-copie.png" />
        <div ng-if="answer.status == true" class="answer-validated">
            <div class="row">
                <div class="col s6">
                    <div class="image-user"></div><a class="answer-user" ui-sref="profile({userId:answer.user.id})">{{answer.user.firstname + " " + answer.user.lastname}}</a>
                </div>
            </div>
            <div class="row">
                <p class="answer-content">{{answer.content}}</p>
            </div>
            <div class="row bottom-answer">
                <p class="answer-date">{{answer.date | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p class="like">{{answer.likes}}
                    <a class="btn-floating btn-large waves-effect waves-light orange" ng-click="$ctrl.likeAnswer(answer)" ng-disabled="$ctrl.isAuthenticated != true"><i class="material-icons">favorite</i></a>
                </p>
            </div>
            <a class="waves-effect waves-light btn best-answer" ng-if="$ctrl.currentUser.id == $ctrl.question.userId && answer.status == true"
                ng-click="$ctrl.validateAnswer(answer)">Annuler</a>
        </div>

        <div ng-if="answer.status == false" class="answer-novalidate">
            <div class="row">
                <div class="col s6">
                    <div class="image-user">
                        <img class="responsive-img avatar1" ng-src="{{answer.user.avatar}}" />
                    </div>
                    <a class="answer-user" ui-sref="profile({userId:answer.user.id})">{{answer.user.firstname + " " + answer.user.lastname}}</a>
                </div>
            </div>
            <div class="row">
                <p class="answer-content">{{answer.content}}</p>
            </div>
            <div class="row bottom-answer">
                <p class="answer-date">{{answer.date | date: 'dd/MM/yyyy HH:mm'}}</p>
                <p class="like">{{answer.likes}}
                    <a class="btn-floating btn-large waves-effect waves-light orange" ng-click="$ctrl.likeAnswer(answer)" ng-if="$ctrl.isAuthenticated != null"><i class="material-icons">favorite</i></a>
                </p>
            </div>
            <a class="waves-effect waves-light btn best-answer" ng-if="$ctrl.currentUser.id == $ctrl.question.userId && answer.status == false"
                ng-click="$ctrl.validateAnswer(answer)">Valider cette réponse</a>
        </div>

    </div>


    <a class="back-home" ui-sref="home">Retour Accueil</a>
</div>