<!doctype html>
<html data-ng-app="WeZikApp">

<head>
    <meta charset="utf-8">
    <title>WeZik</title>
    <meta name="author" content="J. Thomas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={{ asset('Angular/style.css') }} type="text/css">
    <link rel="icon" href="/favicon.ico">
</head>

<body data-ng-controller="VideosController">
<header>
    <h1>We<strong>Zik</strong></h1>
    <form id="search" data-ng-submit="search()">
        <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query">
        <input id="submit" type="image" src="search.png" alt="Search">
    </form>
    <nav>
        <a id="play"></a>
        <a id="pause">Pause</a>
    </nav>
</header>
<div id="results">
    <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" >
        <p class="video-title"></p>
        <p class="video-author"></p>
        <p class="video-description"></p>
    </div>
</div>
<div id="player">
    <div id="placeholder"></div>
</div>
<div id="playlist">
    <p id="current"></p>
    <ol id="upcoming" data-ng-show="playlist">
        <li data-ng-repeat="video in upcoming">
            <p class="item-delete" data-ng-click="delete('upcoming', video.id)">delete</p>
            <p class="item-title" data-ng-click="launch(video.id, video.title)"></p>
        </li>
    </ol>
    <ol id="history" data-ng-hide="playlist">
        <li data-ng-repeat="video in history">
            <p class="item-delete" data-ng-click="delete('history', video.id)">delete</p>
            <p class="item-title" data-ng-click="queue(video.id, video.title)"></p>
        </li>
    </ol>
    <p id="tabs">
        <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
    </p>
</div>
x<script src="{{ asset ('Angular/js') }}"></script>
</body>

</html>