<div class="home-img">
    <div class="row container1">
        <div class=" col s6 center-align left-profile">
            <img class="responsive-img avatar " ng-src="{{$ctrl.user.avatar}}" />
            <p class="user-name">
                {{$ctrl.user.firstname}} {{$ctrl.user.lastname}} • {{$ctrl.user.age}} ans
            </p>
            <p class="user-bio">
                {{$ctrl.user.bio}}
            </p>
        </div>

        <div class="col s6 right-profile">
            <div class="centerdiv wild-profile">
                <h4 class="centerdiv">Wilder</h4>
            </div>
            <div class="centerdiv cursus">
                <p>
                    <b>École</b> : {{$ctrl.user.school["0"].name}}
                </p>
                <p>
                    <b>Promo</b> : {{$ctrl.user.promo.name}}
                </p>
                <p>
                    <b>Localisation</b> : {{$ctrl.user.school["0"].location}}
                </p>
            </div>

            <p class="center-align">
                <i class="fa fa-twitter fa-2x twitter" aria-hidden="true"></i> {{$ctrl.user.social1}}
                <i class="fa fa-github fa-2x github" aria-hidden="true"></i> {{$ctrl.user.social2}}
                <i class="fa fa-linkedin fa-2x linkedin" aria-hidden="true"></i> {{$ctrl.user.social3}}
            </p>
            <div class="centerdiv">
                <p class="mattermost-pseudo">
                    <b>Mattermost:</b> {{$ctrl.user.mattermost}}
                </p>
            </div>
            <br>
            <div class="center-align btn-modifier">
                <a ui-sref="myProfile" class="waves-effect waves-light btn modifier-profil" ng-if="$ctrl.currentUser.id == $ctrl.user.id">Modifier</a>
            </div>
        </div>
    </div>


    <a ui-sref="home" class="back-home">retour accueil</a>
</div>